extends layout

block content
  .navbar
    .navbar-inner
      a.brand.ocs-title(href='#') Odysseus TRPG System
      ul.nav
        li: a(href='/')
          i.icon-list
          = ' 频道列表'
        li.active: a(href='#')
          if isNew
            i.icon-plus
            = ' 新建频道'
          else
            i.icon-wrench
            = ' 配置频道'
      ul.nav.pull-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.icon-user
            = ' ' + session.username
            b.caret
          ul.dropdown-menu
            li: a(href='/logout') 注销
  .container
    form.form-horizontal(method='POST')
      .control-group
        label.control-label(for='inputName') 唯一标识名
        .controls
          input#inputName(name='name', type='text', placeholder='只能使用a-z、0-9和符号_、-、.', value='#{name}')
      .control-group
        label.control-label(for='inputFullName') 频道名
        .controls
          input#inputName(name='fullName', type='text', placeholder='可以使用汉字', value='#{channel.fullName}')
      .control-group
        label.control-label(for='inputAnnoucement') 一句话公告
        .controls
          input#inputAnnouncement(name='announcement', placeholder='显示给所有人', type='text', value='#{channel.announcement}')
      .control-group
        label.control-label(for='inputMaster') 主持人
        .controls
          input#inputMaster(name='master', type='text',  value='#{channel.master}')
          p.help-block 
            span.label.label-warning 注意
            = ' 修改此项后你就会失去该频道的配置权'
      .control-group
        label.control-label(for='inputMembers') 成员
        .controls
          input#inputMembers(name='members', type='text',  value='#{members}')
          span.help-block 
            允许参与聊天的成员的名字的列表，以逗号分割
      .control-group
        .controls
          button.btn.btn-primary(type='submit') 提交
      
